.blog-post {
    max-height: 300;
    transition: 1s ease-in-out all;
    cursor: pointer;
}

.blog-post:hover {
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
}

.block:hover {
    background: lightgray;
    cursor: pointer;
}